
      
.thumbnail{
 width: 100%;
 
}


.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  line-height: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-author{
  font-size: 12px;
  color: rgb(96,96,96);
  margin-bottom: 4px;
}

.text{
  text-decoration: none;
  color: inherit;
}

.video-stats{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: rgb(96,96,96);
}
      

      
.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-picture{
}
.video-info{
}
.profile-picture{
  width: 36px;
  border-radius: 50px;
}
.row{
  margin-bottom: 8px;
  position: relative;
}
.video-grid{
  column-gap: 20px ;
  row-gap: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 869px) {
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width:870px) and ( max-width: 999px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time{
  
  font-size: 12px;
  padding: 4px;
  position: absolute;
  bottom: 8px;
  right: 5px;
  background-color: black;
  color: white;
}