.header{
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top:0;
  left:0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px ;
  border-bottom-style: solid ;
  border-bottom-color: rgb(216, 215, 215)
}

.left-section{
  display: flex;
  align-items: center;

 
}
.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo{
  height: 20px;

}
.middle-section{
  display: flex;
  align-items: center;
  max-width: 500px;
  margin-left: 70px;
  margin-right: 35px;
  flex: 1;
}

.search{
  flex: 1;
  width: 0;
  height: 36px;
  padding-left: 12px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid ;
  border-color: rgb(212, 208, 208);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.search::placeholder{
  font-size: 16px;
}

.search-button{
  height: 40px;
  width: 60px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(212, 208, 208);
  margin-left: -1px;
  margin-right: 8px;
  
}

.search-button,
.voice-button,
.upload-container,
.container,
.notifications-banner,
.current-user{
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
  cursor: pointer;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-container .tooltip,
.container .tooltip,
.notifications-banner .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-container:hover .tooltip,
.container:hover .tooltip,
.notifications-banner:hover .tooltip  {
  opacity: 1 ;
}

.search-icon{
  height: 25px;
}
.voice-button{
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(250, 250, 250);
}
.voice-icon{
  height: 24px;

}

.right-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 200px;
}
.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}
.notifications-banner{
  position: relative;
}
.notifications-count{
  position: absolute;
  background-color: rgb(200, 0, 0);
  color: white;
  top: -2px;
  right: -5px;
  font-size: 12px;
  padding-left: 6px;
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  border-radius: 10px;
}

         
.current-user-icon{
 height: 40px;
 width: 40px;
 border-radius: 50%;
 
}

