.sidebar{
  position: fixed;
  z-index: 100;
  top: 55px;
  left: 0;
  bottom:0;
  width: 70px;
  background-color: white;
  padding-top: 4px;
  cursor: pointer;
}

.sidebar-link{
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover{
  background-color: rgb(231, 228, 228);
}

.sidebar-link img{
  height: 24px;
}

.sidebar-link div{
  font-size: 10px;
}